[CODEOWNERS]
CODEOWNERS @kuck @rain

[Subject Matter Experts]

# -------------
# Documentation
# -------------

docs/ @johnk @rain
ref/papers/ @renfrob @rain @kuck
ref/usersguide/ @johnk @renfrob @rain

# ---------------------
# Major module sections
# ---------------------

# Core apps
core/apps/ @johnk @btolman
core/apps/positioning/ @btolman @renfrob
core/apps/Rinextools/ @btolman @renfrob

# Core tests
core/tests/ @johnk @anthony @renfrob

# Ext -- unsupported & unmaintained, not part of the API
ext/ @johnk @dbarber
ext/apps/filetools/ @btolman @renfrob
ext/apps/geomatics/ @btolman
ext/apps/rfw/ @johnk @renfrob

# Other
data/ @dbarber @kuck
deprecated/ @dbarber @kuck
examples/ @johnk @btolman @renfrob


[CPP Reviewers]
*.cpp   @code-reviewers/cpp
*.hpp   @code-reviewers/cpp
*.c     @code-reviewers/cpp
*.h     @code-reviewers/cpp

[Python Reviewers]
*.py   @code-reviewers/python

[Bash Reviewers]
*.sh   @code-reviewers/bash

[CMAKE Reviewers]
CMakeLists.txt   @code-reviewers/cmake
*.cmake          @code-reviewers/cmake

[Distribution Reviewers]
conda_recipe/ @code-reviewers/conda-recipes
debian/ @code-reviewers/debian_pkgs
rpm_files/ @code-reviewers/rpm_pkgs
